<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milk Society</title>
    <%- include('templates/header-links.ejs') %>    
  </head>

<body>    
  <div class="container-fluid h-100 w-100 position-absolute bg-grey">
    <div class="row h-100">   
        <div class="col-12 p-4">
          <div class="bg-primary p-2 mb-3 text-center">
            <p class="text-white mb-0"><strong>மாட்டுக்காரரை சேர்க்க</strong></p>
          </div>
        <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
          
          <form id="formData">
            <div class="input-group mb-3"><input id="name" type="text" class="form-control" placeholder="Name" required></div>
            <div class="input-group mb-3"><input id="cow_count" type="text" class="form-control" placeholder="Cow Count" required></div>
            <div class="input-group mb-3"><input id="milk_price" type="text" class="form-control" placeholder="Milk Rate" required></div>
            <div class="input-group mb-3">
              <select id="milk_collector_id" class="form-select" required>
                <option value="">-- பால் கறப்பவர் --</option>
                <option value="self">Self</option>
                <% collectors.forEach(function(collector) { %>
                  <option value="<%= collector.id %>"><%= collector.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="input-group mb-3"><input id="contact_no" type="text" class="form-control" placeholder="Mobile Number"></div>
            <div class="input-group mb-3"><input id="address" type="text" class="form-control" placeholder="Address"></div>
            <div class="input-group mb-3"><input id="village_name" type="text" class="form-control" placeholder="Village"></div>
            <div class="row">
              <div class="col-12"><button type="submit" class="btn btn-success w-100">Save</button></div>
            </div>
          </form>
        </div>   
    </div>
</div>
<%- include('templates/footer-links.ejs') %>    
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById('formData');
    form.addEventListener('submit', async function (event) {
      event.preventDefault();

      document.getElementById('error-message').classList.add('d-none');

      const name = document.getElementById('name').value;
      const cow_count = document.getElementById('cow_count').value;
      const milk_price = document.getElementById('milk_price').value;
      const milk_collector_id = document.getElementById('milk_collector_id').value;
      const contact_no = document.getElementById('contact_no').value;
      const address = document.getElementById('address').value;
      const village_name = document.getElementById('village_name').value

      try {
        const response = await fetch('/cowowner-add', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ name, cow_count, milk_price, milk_collector_id, contact_no, address, village_name }),
        });

        const data = await response.json();

        if (!response.ok) {
          const errorMessage = document.getElementById('error-message');
          errorMessage.textContent = data.message;
          errorMessage.classList.remove('d-none');
        }
        else {
          alert(data.message || 'Milk producer added successfully!');
        }
      } catch (error) {
        console.error('Error:', error);
        const errorMessage = document.getElementById('error-message');
        errorMessage.textContent = 'Error: Could not submit data';
        errorMessage.classList.remove('d-none');
      }
    })
  });
</script>
  </body>
</html>