<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milk Society</title>
    <%- include('templates/header-links.ejs') %>    
  </head>

<body>    
  <div class="container-fluid h-100 w-100 position-absolute bg-grey">
    <div class="row h-100">   
        <div class="col-12 p-4">
          <div class="bg-primary p-2 mb-3 text-center">
            <p class="text-white mb-0"><strong>பால் கம்பெனியை சேர்க்க</strong></p>
          </div>
          
          <form>
            <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Company Name"></div>
            <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Milk Rate"></div>
            <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Mobile Number"></div>
            <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Address"></div>
          </form>
          <div class="row">
            <div class="col-6"><a href="#" class="btn btn-danger w-100">Edit</a></div>
            <div class="col-6"><a href="#" class="btn btn-success w-100">Save</a></div>
          </div>
        </div>   
    </div>
</div>
<%- include('templates/footer-links.ejs') %>    
  </body>
</html>