   <!-- left-menu -->
   <div class="col-12 col-lg-2 d-none d-lg-block p-3 side-menubar ">
    <nav>
        <ul class="nav navbar-dark flex-column ">
            <li class="nav-item ">
              <a class="nav-link text-white active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
      </nav>
</div>
<!-- left-menu end -->