   <!-- left-menu -->
   <div class="col-12 col-lg-2 d-none d-lg-block p-3 side-menubar ">
   
    <nav>
      <div class="col-12 pb-5">
        <a class="text-white text-decoration-none href="#"><h3>Milk Society Management System</h3></a>
      </div>
        <ul class="nav flex-column left-menu">
            <li class="nav-item" id="leftmenu1"><a class="nav-link text-white" href="/dashboard">முகப்பு</a></li>
            <li class="nav-item" id="leftmenu2"><a class="nav-link text-white" id="leftmenu2" href="/cow-owners">மாட்டுக்காரர்கள்</a></li>
            <li class="nav-item" id="leftmenu3"><a class="nav-link text-white" id="leftmenu3" href="/milkers">பால் கறப்பவர்கள்</a></li>
            <li class="nav-item" id="leftmenu4"><a class="nav-link text-white" id="leftmenu4" href="/milk-entry-all">கறவை பதிவு</a></li>
            <li class="nav-item" id="leftmenu5"><a class="nav-link text-white" id="leftmenu5" href="#">தீவனங்கள்</a></li>
            <li class="nav-item" id="leftmenu6"><a class="nav-link text-white" id="leftmenu6" href="#">பால் கம்பெனி</a></li>
            <li class="nav-item" id="leftmenu7"><a class="nav-link text-white" id="leftmenu7" href="#">பற்று/வரவு</a></li>
          </ul>
      </nav>
</div>
<!-- left-menu end -->