 <!-- Mobile view side menu bar -->
 <nav class=" bg-light navbar-light p-0 mobile-sidebar" id="mobile-sidebar">
    <div class="w-100 sidebarbox" style="height:150px;position: relative;">
    <a href="javascript:void(0)" class="hide-md closebtn" style="color:#FFF; text-decoration:none;" onClick="closeNav()"><span><img src="../assets/images/close-icon.svg" width="30"></span></a>
        <div class="p-2 ps-3" style="position:absolute; bottom: 0px; left: 0px;">
        <p class="m-0" style="color:#fff; opacity: .8;">Welcome</p>	
        <h4 class="text-white m-0 mb-2">MuthuPrabu</h4>	
        </div>
    </div>

    <ul class="w-100 p-0 menubar1 nav-fill">
    <li class="nav-item ps-3 my-2"><a class="nav-link" href="#">முகப்பு</a></li>
    <div class="dropdown-divider"></div>

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">மாட்டுக்காரர்கள்</a></li>
    <div class="dropdown-divider"></div>	

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">பால் கறப்பவர்கள்</a></li>
    <div class="dropdown-divider"></div>

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">கறவை பதிவு</a></li>
    <div class="dropdown-divider"></div>

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">தீவனங்கள்</a></li>
    <div class="dropdown-divider"></div>

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">பால் கம்பெனி</a></li>
    <div class="dropdown-divider"></div>

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">பற்று/வரவு</a></li>
    <div class="dropdown-divider"></div>

    <li class="nav-item ps-3 mb-2"><a class="nav-link" href="#">Logout</a></li>
    <div class="dropdown-divider"></div>

    </ul>
</nav>
<!-- Mobile view side menu bar end -->